*{font-family: 'Quicksand', sans-serif;}
body
{
  margin:0;
}
/* ====================== HEADER =============================  */
h1{text-align: center;}
#bloc_header
{
  position:relative;
  margin:auto;
  width: 550px;
  height: 130px;
}
#dublin
{
  color :#15965f;
  position:absolute;
  right: 47%;
}
#bikes
{
  position:absolute;
  right: 31%;

}
#clover
{
  height: 50px;
  position: absolute;
  transform: rotate(-40deg);
  top:-8%;
  left:20%;
}

#slogan
{
  position:absolute;
  top:37%;
  left:6%;
  font-family: 'Bad Script', cursive;
  font-size: 1.4em;
}

/* ======================  Slider ===========================  */
#diaporama
{

  width: 100%;
  height: 330px;
  position:relative;
  display:flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

#image_slider
{
  border: 1px solid black;
  position: absolute;
  right:42%;
}
#description
{
  width: 350px;
  height: 205px;
  text-align: justify;
  position: absolute;
  right: 15%;
  font-size: 1.1em;
}
#arrow_left,
#arrow_right
{
  font-size: 3em;
  color: #15965f;
}
#pause
{
  font-size: 1.5em;
  position: absolute;
  right:25%;
  top: 85%;
  color : #15965f;
}
#play
{
  display:none;
  font-size: 1.5em;
  position: absolute;
  right:25%;
  top: 85%;
  color : #15965f;
}
#arrow_left
{
  position : absolute;
  left:5%;
  top: 40%;
}
#arrow_right
{
  position : absolute;
  right:5%;
  top:40%;
}
/* ======================= MAP ================================== */
#map{position:relative;}
#mapid
{
  width: 95%;
  height: 700px;
  margin: auto;
  border: 1px solid black;
  z-index: 1;
}

.popup
{
  position:relative;
  top: -105px;


}
.popup .leaflet-popup-tip
{
  background: rgba(255, 255, 255, 0.9);

}
.popup .leaflet-popup-content-wrapper
{
  font-size: 1.2em;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);

}

/* =========================== INFO STATION ================== */
#info_station
{
  display: none;
  text-align: left;
  border: 1px dashed #15965f;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  font-weight: 600;
  width: 300px;
  position:absolute;
  top: 4%;
  right: 4%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}
#title_infoStation
{
  font-family: 'Bad Script', cursive;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1em;
}
.separation_line
{
  margin:auto;
  margin-top: 15px;
  border-bottom: 1px solid #15965f;
  width: 75px;
}
form
{
  margin-top:15px;
  margin-bottom: 15px;
}
#form_nom{margin-bottom: -15px;}
#nom
{
  border: 1px dashed #15965f;
  position:relative;
  left:24px;
}
#prenom{border: 1px dashed #15965f;}
#warning
{
  display: none;
  color:red;
  position: relative;
  left: 45%;
  margin-top: 15px;
  font-size: 1.5em;
}
#errorMsg
{
  display:none;
  text-align: justify;
  font-size: 0.8em;
}
#button_confirmation
{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 20%;
  background: #f5f5f5;
  border:none;
  color:#555;
  font-weight: bold;
  padding:6px;
}
#button_close
{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 30%;
	background: #f5f5f5;
	border:none;
	color:#555;
	font-weight: bold;
	padding:6px;

}
#button_close:hover ,
#button_confirmation:hover
{
  box-shadow:1px 1px 3px #999;
}

/* ============================== ZONE CANVAS ==================== */
#title_blocCanvas
{
    font-family: 'Bad Script', cursive;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1em;
}
#bloc_canvas
{
  visibility: hidden;
  text-align: justify;
  border: 1px dashed #15965f;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
  font-weight: 600;
  width: 300px;
  position:absolute;
  top: 4%;
  right: 4%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
}
#stationNameCanvas,
#nomCanvas,
#prenomCanvas
{color:#15965f;}

#canvas
{

  margin-top: 15px;
  margin-bottom:15px;
  z-index: 2;
  background-color: white;
  border:1px dashed #15965f;
}
#canvas:hover{cursor:crosshair}
#button_reservation
{
  position: relative;
  left: 20%;
  background: #f5f5f5;
  border:none;
  color:#555;
  font-weight: bold;
  padding:6px;
  margin-bottom: 15px;
}
#button_closeCanvas
{
  position: relative;
  left: 40%;
  background: #f5f5f5;
  border:none;
  color:#555;
  font-weight: bold;
  padding:6px;
}
#button_clearCanvas
{
  position: relative;
  left: 40%;
  background: #f5f5f5;
  border:none;
  color:#555;
  font-weight: bold;
  padding:6px;
}
#button_reservation:hover ,
#button_closeCanvas:hover ,
#button_clearCanvas:hover
{
  box-shadow:1px 1px 3px #999;
}

/* =========================== RESERVATION ================== */
#resa
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: 90px;
  width: 95%;
  border: 1px dashed black;
  z-index: 1;
}
#bloc_resa
{
  position:relative;
  margin:auto;
  border:1px solid red;
  height: 90px;
  width: 650px;
}
#noReservation
{
  font-weight: bold;
  position:absolute;
  top:29%;
  left:32%;
}
#reservation
{
  display:none;
  font-weight: bold;
  position:absolute;
  top:15%;
  left:11%;
}
#timer
{
  display:none;
  font-weight: bold;
  position:absolute;
  top:51%;
  left:11%
}
#message
{
  display:none;
  font-weight: bold;
  position:absolute;
  top:29%;
  left:32%;
}
#deleteResa
{
  display:none;
  z-index: 3;
 position: absolute;
 top: 15%;
 left:2%;
 font-size: 3em;
 color: #15965f;
}
#stationName,
#nomResa,
#prenomResa,
#min,
#sec
{
  color:#15965f;
}

/* =========================== FOOTER ================== */
footer
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: 45px;
  width: 95%;
  border: 1px dashed black;
  z-index: 1;

}
#copyright
{
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

/* =========================== MEDIA QUERIES ================== */
/* 1750px */
@media all and (max-width: 1750px)
{
  /* ==== SLIDER ===== */
 #image_slider
 {
   width: 715px;
   height: 280px;
 }
 /* ===== RESERVATION ===== */
}
/* 1600px */
@media all and (max-width: 1600px)
{
  /* ==== SLIDER ===== */
  #image_slider
  {
    width: 636px;
    height: 249px;
  }
}
/*1400 px */
@media all and (max-width: 1400px)
{
/* ==== HEADER ===== */
/* ==== SLIDER ===== */
#diaporama
{
  height: 650px;
  margin-bottom:0px;
}
#img_arrows{position:relative;}
#image_slider
{
  position: static;
}
 #description
 {
   top: 45%;
   left: 50%;
   margin-left: -175px;
 }
 #play,
 #pause
 {right: 50%;top:90%;}
 #arrow_left
 {
   top: 15%;
   left: -28%;
 }
 #arrow_right
 {
   top: 15%;
   right: -28%;
  }
}
@media all and (max-width: 1050px)
{
  /* ==== HEADER ===== */
  /* ==== SLIDER ===== */
  #arrow_left
  {
    top: 15%;
    left: 3%;
    color:white;
  }
  #arrow_right
  {
    top: 15%;
    right: 3%;
    color:white;
   }
  /* ===== MAP ==== */

}
@media all and (max-width: 700px)
{
  /* ==== HEADER ===== */
  /* ==== SLIDER ===== */
  #image_slider
  {
    width: 100%;
    height: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
  }
  /* ===== MAP ==== */
  #mapid
  {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
  }
  /* ===== RESA ==== */
  #resa
  {
  width: 100%;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  border-left: none;
  border-right: none;
  }
  #bloc_resa{width: 450px;}
  #reservation{left:20%;}
  #timer
  {
    top:68%;
    left:20%;
  }
}
@media all and (max-width: 550px)
{
  /* ==== HEADER ===== */
  #bloc_header
  {
    height: 50px;
    width: 350px;
  }
  #clover{left:10%;}
  #dublin{right:40%;}
  #bikes{right:16%;}
  #slogan{display:none;}
  /* ==== SLIDER ===== */
  #diaporama{height: 550px;margin-bottom: 25px;margin-top:15px;}
  #arrow_right,
  #arrow_left
  {
    font-size: 2.5em;
    top : 12%;
  }
  #description{top:42%;}
  #play,
  #pause
  {top:92%;font-size:2em;right:46%;}
  /* ===== MAP ==== */
  /* ===== RESA ==== */
  #bloc_resa{width: 360px;}
  #noReservation{left:22%;}
  #reservation{left:16%;}
  #timer{left:16%;}
  #message{left:24%;}


}
@media all and (max-width: 360px)
{
  /* ==== SLIDER ===== */
  #diaporama{height: 480px;margin-bottom: 0px;}
  #description{top:31%;}
  #arrow_right,
  #arrow_left
  {top : 10%;}
  #play,
  #pause
  {top:88%;}



}
